:root {
    --pfp-bg: url('/img/backgrounds/unchained-1.jpeg');
    --bg-position: center;
}

@keyframes borderAnim {
    from {
        box-shadow: 0 0 0 5px #f55
    }
    to {
        box-shadow: 0 0 0 5px #ffb4b4
    }
}

#profileHolder {
    background: #202020;
    animation: borderAnim 2s infinite alternate;
    background-position: 65% 10%;
    width: 800px;
    height: 500px;
    padding: 12px;
    border-radius: 4px;
    position: absolute;
    top: 150px;
    left: 308px
}

.pfpImg {
    width: 120px;
    border-radius: 5px;
}

.profileTopRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileRank {
    width: 60px;
    margin-right: 12px;
    margin-left: 12px;
}

.pfpBadge {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 128px;
}

.profileName {
    font-size: 48px;
    display: flex;
    align-items: center;
}

.profileTop {
    display: flex;
    flex-direction: row;
}

.profileLevel {
    position: relative;
    top: -24px;
    left: 0;
    background: #000000b3;
    display: inline;
    padding: 4px;
    border-radius: 0 5px;
}

.dataContainer {
    display: flex;
}

.data {
    background: #0004;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

.dataCol {
    overflow-y: scroll;
    height: 315px;
}

.dataTitle {
    font-size: 26px;
}