#mainContent {
    top: 100px;
    height: auto;
    width: 1400px;
}

.content {
    display: flex;
}

.projectItem {
    background: #0004;
    display: flex;
    margin: 8px;
    padding: 14px;
    flex-direction: column;
    width: 350px;
    height: 300px;
    font-family: 'Poppins';
    justify-content: space-between;
}

.projectName {
    font: 500 28px 'Poppins';
    display: flex;
    align-items: center;
}

.projectLaunch {
    bottom: 0;
    background: var(--accent);
    border-radius: 4px;
    padding: 8px;
    border: 0;
    outline: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 300ms;
}

.projectDescription {
    padding: 8px;
    padding-left: 0;
}

.topContent {
    border-bottom: 2px solid #fff3;
    height: 180px;
}

.launchIcon {
    margin-right: 8px;
}

.projectLaunch:hover {
    box-shadow: 0 0 0 5px #fff3;
}

.projectImg {
    width: 50px;
    margin-right: 12px;
}