.backgroundImg {
    filter: brightness(0.6) blur(30px);
    position: fixed;
    top: -50px;
    left: -50px;
}

.albumImg {
    width: 260px;
    border-radius: 8px;
    box-shadow: -11px 11px #00000075;
    border: 3px solid #fff;
    margin-right: 12px;
}

#albumContainer {
    position: absolute;
    display: flex;
    bottom: 80px;
    left: 20px;
}

.songName {
    font-size: 64px;
}

.albumInfo {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.songArtist {
    font-size: 32px;
    position: relative;
    top: -5px;
}

.songAlbum {
    color: var(--accent);
}

#durationContainer {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

#progressBar {
    background: #ffffff52;
    width: 98%;
    height: 10px;
    margin: 12px;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 1px;
}

.progressBarInner {
    width: 39%;
    height: 10px;
    padding: 0;
    background: #fff
}

#duration {
    display: flex;
    position: relative;
    bottom: 20px;
    right: 20px
}

.vt-S {
    background: #fff;
    width: 2px;
    border-radius: 4px;
    margin: 0 10px;
}

.widget-albumImg {
    width: 80px;
    border-radius: 2px;
    border: 1px solid #5e5e5e55;
}

#nextWidget {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 12px;
    background: #202020;
    border-radius: 4px;
    border-bottom: 8px solid var(--accent);
    width: 360px;
    align-items: center;
    flex-direction: row;
}

.widget-title {
    font-size: 12px;
    top: 0;
}

.widget-text {
    margin-left: 12px;
}

.widget-song {
    font-size: 22px;
}

.widget-artist {
    font-size: 12px;
    color: var(--accent);
}