:root {
    --background-pri: #11172d;
    --text-pri: #fff;
    --accent: #1CD6CE;
    --accentrgba: 28, 214, 206;
    --bg-g1: #293462;
    --bg-g2: #293462;
    --radius: 0;
    --bdr-clr: #FEDB39;
    --news-bg: #fff2;
}


/* 
    * https://colorhunt.co/palette/2934621cd6cefedb39d61c4e : Current
    * https://colorhunt.co/palette/5800ff0096ff00d7ff72ffff 
    * https://colorhunt.co/palette/ffb3b3ffdba4ffe9aec1efff
    * https://colorhunt.co/palette/554994f675a8f29393ffccb3
*/