:root {
    --background-pri: #202020;
    --text-pri: #fff;
    --accent: #1d9b92;
    --accentrgba: 29, 155, 146;
    --bg-g1: #303030;
    --bg-g2: #303030;
    --bdr-clr: var(--accent);
    --news-bg: #fff2;
}