:root {
    --background-pri: #cacaca;
    --text-pri: #000000;
    --accent: #ff004c;
    --accentrgba: 255, 0, 76;
    --bg-g1: #c44141;
    --bg-g2: #7e1e2c;
    --bdr-clr: var(--accent);
    --news-bg: #0002;
}