* {
    user-select: none;
    color: #fff;
    font-family: 'Mali', sans-serif;
}

body {
    background: black;
}

#backgroundImage {
    background: #f1deff;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -30%;
    position: fixed;
    z-index: -1;
    filter: brightness(0.5)
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title {
    padding: 12px;
    font-size: 32px;
    font-weight: 600;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#section {
    height: 80%;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

#img-section {
    width: 40%;
    height: 100%;
    margin: 12px;
}

#text-section {
    width: 60%;
    height: 100%;
    margin: 12px;
    padding: 12px;
    overflow-y: auto;
    font-size: 22px;
    line-height: 2;
    text-align: right;
    border: 2px solid #ffffff22;
    border-radius: 16px;
}