:root {
    --background-pri: #e3e3e3;
    --text-pri: #000000;
    --accent: #1d9b92;
    --accentrgba: 29, 155, 146;
    --bdr-clr: var(--accent);
    --bg-g1: #fff;
    --bg-g2: #fff;
    --news-bg: #0002;
}