.full {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "defvar";
    src: url('./src/css/fonts/defvar.ttf');
}

* {
    color: #fff;
    font-family: "defvar", monospace;
}

#bg {
    z-index: -1;
    background: #020202;
}

.window {
    width: 95%;
    height: 90%;
    box-shadow: 0 0 0 2.5px #ffffff15;
    padding: 1rem;
    transition: 300ms;
}

#titleImg {
    width: 5em;
    margin: 1.5em 0
}

.flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleWindow {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    padding-bottom: 0.25em;
}

a:hover {
    color: #fff;
    box-shadow: 0 2.5px white
}

.title-link {
    margin: 0 1em
}