<!DOCTYPE html>
<html lang="en" dir="lir">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="made of soil deposits">
    <meta name="keywords" content="Alluvirum, Alluvirum game">
    <meta name="author" content="Koawa and the Alluvirum Team">
    <meta content="Alluvirum" property="og:title">
    <meta content="made of soil deposits" property="og:description">
    <meta content="" property="og:url">
    <meta content="img/icon.png" property="og:image">
    <meta content="#099465" data-react-helmet="true" name="theme-color">
    <title> Alluvirum </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" title="default">
    <link rel="shortcut icon" href="img/favicon-1.png" type="image/x-icon">
</head>

<body style="user-select: none; overflow: hidden;" onload="menuLoad()">

    <!-- MENU HTML -->
    <div id="menu" onclick="clickSound()">

        <div class="bottomRight">
            <div class="version"> 1.1.3 </div>
        </div>

        <div id="volumeUpdate">
            <div class="volumeTitle"> Alluvirum HiDef Speakers (KWA) </div>
            <div class="volumeBar">
                <div class="volumeVal"> 50 </div>
                <div class="volumeInner"> </div>
            </div>
        </div>

        <!-- Canvas Elements -->
        <canvas id="menuMiniMap" width="400" height="400" style="display: none;"></canvas>
        <canvas id="menuTerrainGeneration" width="400" height="400"></canvas>
        <canvas id="menuCanvas"></canvas>
        <canvas id="menuCharPreviewCanvas" style="display: none; opacity: 0;"></canvas>

        <div id="loadingScreen">
            <div id="spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div id="clickToPlay" style="display: none" onclick="play()">Click to Play!</div>
        </div>

        <div id="menuHolder" style="display: none;">
            <img id="title" style="display: none;" src="/img/bigIcon.png">
            <div id="menuButtonsHolder">
                <div class="menuButton icnButton button" onclick="menuSwap('start')">
                    <div class="button-icon material-icons"> play_arrow </div>
                    Single Player
                </div>
                <div class="menuButton icnButton button" onclick="menuSwap('options')">
                    <div class="button-icon material-icons"> settings</div>
                    Options
                </div>
                <div class="menuButton icnButton button" onclick="return localStorage">
                    <div class="button-icon material-icons"> close </div>
                    Exit
                </div>
            </div>
        </div>

        <!-- Other Menus -->
        <div id="sideMenu" style="display: none; margin-left: -1000px;">
            <div id="sideMenuTitle">Select</div>
            <div id="sideMenuButtonsStart" style="display: none">
                <div class="selectButtons">
                    <div class="charButton selectMenuButton" onclick="menuSwap('select')"> Create New </div>
                    <div class="worldButton selectMenuButton" onclick="menuSwap('select')"> {placeholder} </div>
                </div>

                <div class="sideMenuButtons backBtn" onclick="menuSwap(`back`)">
                    <span class="backIcon material-icons"> arrow_back_ios </span> Back
                </div>
            </div>
            <div id="sideMenuButtonsOptions" style="display: none">
                <div id="optionsMenu" class="menuWindow">
                    <div class="optionFlex">
                        <div class="optiontTitle"> Game ID </div>
                        <input type="text" class="optionInput">
                    </div>
                    <div class="optionSection"> Render </div>
                    <div class="optionFlex">
                        <div class="optiontTitle">Show Minimap</div>
                        <div class="optionSwitch">
                            <label class="switch">
                                <input type="checkbox" onclick="miniMapO()">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="optionFlex">
                        <div class="optiontTitle"> Game FPS </div>
                        <select class="optionSelect">
                            <option value="1" class="optionValue"> 30 FPS </option>
                            <option value="2" class="optionValue"> 60 FPS </option>
                            <option value="3" class="optionValue"> 120 FPS </option>
                            <option value="4" class="optionValue"> 144 FPS </option>
                            <option value="5" class="optionValue"> 244 FPS </option>
                        </select>
                    </div>
                    <div class="optionSection"> Volume </div>
                    <div class="optionFlex">
                        <div class="optionTitle"> Master Volume </div>
                        <input type="range" min="0" max="100" value="50" class="range" id="volumeSlider" class="volumeSlider">
                    </div>
                    <div class="optionFlex">
                        <div class="optionTitle"> Music Volume </div>
                        <input type="range" min="0" max="100" value="50" class="range" id="musicVolumeSlider" class="volumeSlider">
                    </div>
                    <div class="optionFlex">
                        <div class="optionTitle"> SFX Volume </div>
                        <input type="range" min="0" max="100" value="50" class="range" id="sfxVolumeSlider" class="volumeSlider">
                    </div>
                </div>
                <div class="sideMenuButtons backBtn" onclick="menuSwap(`back`)">
                    <span class="backIcon material-icons"> arrow_back_ios </span> Back
                </div>
            </div>
            <div id="sideMenuButtonsSelect" style="display: none">
                <div class="startBtnContainer">
                    <div class="sideMenuButtons startBtn startBtns" onclick="toggleFunc(`loading`)"> Start Game </div>
                    <div class="sideMenuButtons optBtn startBtns" onclick="toggleFunc(`loading`)"> World Options </div>
                </div>

                <!--
                <div id="worldOptionsContainer">
                    <input type="text" id="worldName" class="worldOption">
                    <input type="text" id="worldSeed" class="worldOption">
                </div>
            -->
                <div id="customizeContainer">
                    <div id="sidebar"></div>
                    <div id="customizeContent" data-tab="1">
                        <div id="customizeTitle"></div>
                        <div id="inventory"></div>
                    </div>
                </div>

                <div class="sideMenuButtons backBtn" onclick="menuSwap(`back`)">
                    <span class="backIcon material-icons"> arrow_back_ios </span> Back
                </div>
            </div>
        </div>
    </div>

    <!-- LOADING SCREEN HTML -->
    <div id="loading" style="display: none">
        <div id="loadingBG1"></div>
        <div id="loadingBG2"></div>
        <canvas id="loadingCanvas"></canvas>
        <div id="loadingText">Loading</div>
    </div>

    <!-- GAME HTML -->
    <div id="game" style="display: none">
        <canvas id="gameCanvas"></canvas>
        <canvas id="gameMiniMap"></canvas>
        <canvas id="gameTerrainGeneration"></canvas>

        <div id="gameUI">

            <div id="achievement">
                <img src="/img/items/00.png" class="achievementImg">
                <div class="achievementFlex">
                    <div class="achievementTitle"> That's cool I guess... </div>
                    <div class="achievementDesc"> You played the game. Cool. </div>
                </div>
            </div>

            <div id="bottomLeftHolder">
                <div class="healthBarContainer">
                    <div class="playerName">
                        <div id="nameVal"> </div>
                        <div id="levelVal"></div>
                    </div>
                    <div class="healthBar">
                        <div class="healthBarInner">
                            <div class="healthValue">
                                <div class="healthVal"> 100 </div>
                                <div class="vt-S"> | </div>
                                <div class="healthMax"> 100 </div>
                            </div>
                        </div>
                    </div>
                    <div class="stmBar">
                        <div class="stmBarInner">
                            <div class="stmValue">
                                <div class="stmVal"> 100 </div>
                                <div class="vt-S"> | </div>
                                <div class="stmMax"> 100 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="bottomRightHolder">
                <div class="gameInv">
                    <div class="gameInvTitle"> INVENTORY </div>
                    <div class="invItemFlex">
                        <div class="gameInvItem common">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="gameInvItem uncommon">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="gameInvItem rare">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="gameInvItem epic">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="gameInvItem legendary">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="gameInvItem dev">
                            <img src="/img/items/00.png" class="invImg">
                        </div>
                        <div class="openInv">
                            <span class="material-icons-outlined">
                                more_horiz
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gameInventoryWindow">
                <div class="gameInventory">
                    <div class="gameInventory-title">
                        <span class="invClose material-icons"> close </span> Inventory
                    </div>
                    <div class="gameInventoryContainer">
                        <div class="gameInventoryItems">
                            <div class="full-invItem"> </div>
                            <div class="full-invItem"> </div>
                        </div>
                        <div class="gameInventory-data">
                            <div class="inventory-dataTitle">
                                <div class="data-name"> Name Placeholder </div>
                            </div>
                            <div class="inventory-dataPreview">
                                <img src="/img/items/00.png" class="previewImg">
                            </div>
                            <div class="dataDescription">
                                <div class="itemType"> Type Placeholder</div>
                                <div class="itemDescription"> No way actually. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="gameMenu" style="display: none">
            <div id="gameMenuTitle">Alluvirum</div>
            <div id="gameMenuButtons">
                <div id="gameOptions">Options</div>
                <div id="gameExit" onclick="game.menuClose()">Exit</div>
            </div>
        </div>
    </div>
    <canvas style="pointer-events: none;position:absolute;top:0;left:0;width:100%;height: 100%;" id="debug"></canvas>
</body>

<script>
    function gameGoalReached(time) {
        document.getElementById("achievement").classList.toggle("active");
        setTimeout(() => {
            document.getElementById("achievement").classList.toggle("active");
        }, time)
    }

    function userDefine(name, level) {
        document.getElementById("nameVal").innerHTML = name;
        document.getElementById("levelVal").innerHTML = `[${level}]`;
    }

    userDefine("Test", 30);

    document.addEventListener("keydown", e => {
        if (
            e.key.toLowerCase() === "d" &&
            e.shiftKey
        ) {
            console.log("it")
        }
    })

    const enemies = [{
        id: 1,
        enemy: "Decode [LVL 30]"
    }, {
        id: 2,
        enemy: "Koawa [LVL 30]"
    }, {
        id: 3,
        enemy: "Tech [LVL 30]"
    }, {
        id: 4,
        enemy: "Sorte [LVL 30]"
    }]

    /*
 
    let enemy = enemies[Math.floor(Math.random() * enemies.length)];
 
    function roll() {
        var int = enemies[Math.floor(Math.random() * enemies.length)];
        return int++;
    }
    */
</script>