* {
    font-family: 'Poppins', sans-serif;
    color: white;
    user-select: none;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background: #202020;
}

#jonballinImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#header-thing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.header-title {
    font-size: 32px;
    font-weight: 700;
}

#header-text {
    text-align: center;
}

a {
    text-decoration: none;
}

.linkItem {
    padding: 12px;
    margin: 8px;
    transition: .3s;
    cursor: pointer;
    border-radius: 8px;
}

#links {
    display: flex;
}

.linkItem:hover {
    background: #fff1;
}