@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-primary: #202020;
    --font-primary: 'Cabin', sans-serif;
    --font-secondary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    --text-color-primary: #fff;
    --alpha-bg-primary: #0004;
    --alpha-bg-secondary: #0006;
    --alpha-bg-tertiary: #0008;
    --accent-primary: #ff4545;
    --alpha-accent-primary: #ff6363c2;
}

* {
    font-family: var(--font-primary);
    color: var(--text-color-primary);
    user-select: none;
}

body {
    overflow-x: hidden;
}

.no-margin {
    margin: 0;
}

.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.full-width {
    width: 99vw;
}

.full-height {
    height: 100vh;
}

.fixed {
    position: fixed;
}

.abs {
    position: absolute;
}

.top {
    top: 0
}

.bottom {
    bottom: 0
}

.left {
    left: 0
}

.right {
    right: 0
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
}

.hover {
    transition: .3s;
    cursor: pointer;
}

#background {
    background: var(--bg-primary);
    z-index: -1;
}

#playerInfoBar {
    background: var(--alpha-bg-primary);
    padding: 12px;
    justify-content: space-between;
}

.separator {
    margin: 0 8px;
    padding: 3px;
    background: #fff5;
    border-radius: 50%;
}

#mainTitle {
    font-size: 3rem;
    padding: 12px;
}

.navItem {
    padding: 12px;
    font-size: 1.5rem;
    margin-right: 4px;
    color: #ff6363c2;
}

.navItem:hover {
    box-shadow: 0 2.5px var(--accent-primary);
    color: white;
}

#profileLeft {
    padding: 12px;
}

#infoRight {
    justify-content: flex-end;
    border-radius: 12px;
    width: 250px;
}

#infoRight:hover {
    box-shadow: 0 0 0 3px #fff1;
    background: #0005;
}

#infoRight:hover .tooltip {
    opacity: 1;
    top: 102%;
}

#profileName {
    font-size: 2rem;
}

#profileLevel {
    font-size: 1.5rem;
    color: var(--accent-primary);
}

#profileDisplay {
    align-items: flex-end;
}

#profileImg {
    padding: 12px;
    border-radius: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
    background: var(--alpha-bg-tertiary);
    box-shadow: 0 0 0 1.5px var(--accent-primary);
    position: absolute;
    top: 80%;
    right: 3%;
    padding: 12px;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: .3s;
    opacity: 0;
}