* {
    font-family: 'Mark Pro', sans-serif;
    color: white;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#background {
    z-index: -1;
    background: linear-gradient(45deg, #151515, #050505);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

#startHolder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    padding: 24px;
    border-radius: 50px 0;
    border: 3px solid #fff4;
    background: #fff1;
    width: 80%;
    height: 80%;
}

.titleVal {
    font-size: 42px;
}

.subtitleVal {
    color: #fff8;
}

.window-title {
    padding: 4px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #fff1;
}

.question-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

input {
    background: unset;
    border: 0;
    outline: 0;
}

#playerCount {
    width: 50px;
    background: #fff1;
    padding: 8px;
    border-radius: 8px;
}