@font-face {
  font-family: gamefont;
  src: url("./fonts/font0.ttf");
}

@font-face {
  font-family: titlefont;
  src: url("./fonts/font1.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  /* Rarities */
  --common: #979797;
  --uncommon: #7eff7e;
  --rare: #4391ff;
  --epic: #ae3dff;
  --legendary: #ffbb0f;
  --mythical: #ff4141;
  --unobtainable: #04ff00;
  --special: #e29fff;
  --limited: #fff;
}

.common {
  border: 3px solid var(--common)
}

.uncommon {
  border: 3px solid var(--uncommon);
}

.rare {
  border: 3px solid var(--rare);
}

.epic {
  border: 3px solid var(--epic);
}

.legendary {
  border: 3px solid var(--legendary);
}

.mythical {
  border: 3px solid var(--mythical);
}

.unobtainable {
  border: 3px solid var(--unobtainable);
}

.special {
  border: 3px solid var(--special);
}

.limited {
  border: 3px solid var(--limited);
}

* {
  font-family: gamefont, titlefont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  user-select: none;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
}

#errorWindow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--accent-light);
  z-index: 20;
  display: none;
}

#errorWindow.more-fatal {
  background: red;
}

#errorWindow.active {
  display: flex;
  align-items: center;
}

.error-title {
  font-size: 64px;
  padding: 12px;
}

.error-info {
  margin: 12px;
}

.backgroundImage {
  z-index: -3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.8);
}

#backgroundGradient {
  z-index: -2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #0008;
}

@keyframes changeWindowStart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.5);
  }
}

@keyframes changeWindowEnd {
  to {
    position: fixed;
    right: -800px;
  }
}

#windowsHolder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#windowsHolder.onchange {
  border: 6px solid #fff;
  border-radius: 80px 0;
}

#titleWindow {
  display: none;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
}

#titleWindow.active {
  display: block;
}

#gameTitle {
  z-index: 5;
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  text-transform: uppercase;
  text-shadow: 0 0 5px #418d9c;
  align-items: center;
}

.titleVal {
  font-size: 64px;
  margin-right: 12px;
}

.titleSub {
  color: #ffb900;
  text-shadow: 0 0 5px #9d8442;
}

.window-list.titlesList {
  overflow-y: auto;
  height: 90%;
}

#titlesWindow {
  position: fixed;
  top: 0;
  right: -1200px;
  height: 100vh;
  width: 60vw;
  background: black;
  z-index: 12;
  padding: 12px;
  transition: .3s;
  opacity: 0;
}

#titlesWindow.active {
  right: 0;
  opacity: 1;
}

.window-title {
  font-size: 48px;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

.titleItem {
  display: flex;
  padding: 8px;
  background: #fff5;
  flex-direction: column;
  margin-top: 12px;
  transition: 0.3s;
  cursor: pointer;
  width: 95%;
}

.titleItem:hover {
  margin-left: 12px;
}

.titleName {
  font-size: 20px;
}

.titleDesc {
  font-style: italic;
  color: #fff5;
}

.subWindow.bottom {
  position: fixed;
  z-index: 13;
  padding: 16px;
  bottom: -1420px;
  left: 0;
  background: #21262b;
  width: 100%;
  height: 95%;
  transition: .8s;
  z-index: 21;
}

.subWindow.bottom.active {
  bottom: 0;
}

.settingsList {
  display: flex;
  flex-direction: column;
}

.setting-flex {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  align-items: center;
  justify-content: space-between;
}

.colorSwatch {
  background: #0000;
  border: 0;
}

.colorSwatch::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

#accent-100:after {
  content: 'PRIMARY'
}

#accent-200:after {
  content: 'SECONDARY'
}

#accent-100:after,
#accent-200:after {
  padding-bottom: 4px;
}

.colorSwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 30px;
  transition: .3s;
  cursor: pointer;
  border-radius: 8px;
}

.colorSwatch:hover,
.colorSwatch:focus {
  height: 60px;
  background: #fff1;
}

#profileImage {
  width: 100px;
  border-radius: 12px;
}

#profileTop {
  display: flex;
  align-items: center;
}

.profileNameVal {
  font-size: 32px;
}

#profileName {
  margin-left: 16px;
}

.profileBadges {
  display: flex;
}

.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
}

.badge.dev {
  background: #006eff;
}

.badge.supporter {
  background: #ff6fb0;
}

.badge.rankAsc {
  background: #34ffd0
}

.section {
  margin: 12px;
  margin-left: 0;
  background: #0005;
  width: 85%;
  padding: 12px;
}

.section-title {
  font-size: 38px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 2px solid white;
}

.section-item {
  padding: 12px;
}

.closeWindow {
  text-align: center;
}

.closeWindowIcon {
  transition: .3s;
  cursor: pointer;
}

.closeWindowIcon:hover {
  transform: rotate(180deg);
}

.trophy {
  width: 120px;
  height: 120px;
  padding: 12px;
  border-radius: 8px;
  background: #fff1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 8px;
  justify-content: center;
}

.trophy-img {
  width: 50px;
  height: 50px;
  background: #ffffff29;
}

.trophiesSection {
  display: flex;
}

.trophy-title {
  text-align: center;
  margin-top: 5px;
  height: 15px;
}

#sidebar.scrolled {
  right: -400px;
}

#sidebar {
  position: absolute;
  top: 0;
  left: -180px;
  background: linear-gradient(45deg, #0d1212, #000000bd);
  height: 120vh;
  width: 400px;
  transform: skewX(-12deg);
  box-shadow: inset -6px 0 white;
}

#sidebar.onMenu {
  z-index: 10;
}

.sideBtns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 175px;
  transform: skewX(12deg);
}

.sidebar-icon {
  margin-right: 12px;
}

.sidebar-btn {
  transition: 0.3s;
  cursor: pointer;
  background: #1e2527;
  border: 5px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px;
  width: 250px;
  margin-bottom: 18px;
}

.sidebar-btn:hover {
  margin-left: 12px;
}

#bottomRight {
  position: fixed;
  bottom: 12px;
  left: 0;
  background: #21282be3;
  padding: 12px;
  width: 340px;
  height: 80px;
  border: 3px solid #fff;
  border-left: 0;
  border-radius: 0 24px 24px 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startWindow {
  display: none;
}

.miniImg {
  width: 50px;
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.mini-profileFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#player-one.eloRating,
#player-two.eloRating {
  margin-left: 8px;
}

.userLevel {
  background: linear-gradient(45deg, #ffcc6b, #ffa600);
  font-size: 15px;
  display: flex;
  border-radius: 4px;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.userName {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userTitle {
  color: #6e7174;
  font-size: 16px;
}

.userVal {
  font-size: 24px;
  display: flex;
  text-transform: none;
  align-items: center;
  margin-bottom: 5px;
}

.userNameVal {
  margin-left: 12px;
}

#shopWindow {
  position: fixed;
  top: 0;
  left: -250vw;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #414f5f, #212d31);
  display: flex;
  z-index: 20;
  flex-direction: column;
}

#window-header {
  background: #fff4;
  padding: 22px;
  font-size: 24px;
}

.shopFeatured {
  margin: 8px;
  padding: 12px;
  border: 2px solid #ffd700;
  background: linear-gradient(45deg, #ffa40085, #ffd4007d);
  border-radius: 12px;
  display: flex;
}

.shop-featuredItem {
  width: 50%;
  height: 250px;
  background: #ffffff33;
  padding: 12px;
  border-radius: 12px;
  margin: 4px;
}

.item-info {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-title {
  font-size: 32px;
  transform: skewX(-8deg);
}

.item-type {
  color: #fff5;
}

.item-cost {
  font-size: 24px;
}

#customizeWindow {
  display: none;
}


/* Start Window */

.startItemTitle,
.startItemDesc {
  font-family: "titlefont";
}

.startItem {
  width: 30%;
  height: 100%;
  padding: 12px;
  background: #00000080;
  transition: 0.3s;
  transform: skewX(-10deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

#startItems {
  position: fixed;
  top: 0;
  left: -90px;
  width: 120vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: white;
}

.startInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.startItem {
  cursor: pointer;
}

.startItem.singlePlayer {
  background: #7ad77a;
}

.startItem.singlePlayer:hover {
  background: #75ff75;
}

.startItem.multiPlayer {
  background: #4222b9;
}

.startItem.multiPlayer:hover {
  background: #6341e2;
}

.startItem.example {
  background: #ff009d;
}

.startItem.example:hover {
  background: #ff8cd3;
}

.startItem:hover {
  width: 60%;
}

.startIcon {
  font-size: 48px !important;
}

.startItemTitle {
  font-size: 32px;
}

#backBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background: #00000070;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer
}

#backBtn:hover {
  background: #000000ad
}


/* Game Window */

#gameWindow {
  display: none;
}

#topBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98.5%;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

#player-two.playerInfo {
  flex-direction: row-reverse;
}

#player-two.player-end {
  align-items: flex-end;
}

.playerImg {
  width: 80px;
  height: 80px;
  border-radius: 12px;
}

.playerInfo {
  display: flex;
  align-items: center;
}

.playerName {
  display: flex;
  font-size: 24px;
}

.playerNameVal {
  margin-right: 8px;
}

.player-end {
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
}

.playerStreak {
  color: #fff5;
}

.playerItem {
  display: flex;
  align-items: center;
}

#bottomBar {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  width: 99vw;
  background: black;
  display: flex;
  justify-content: space-between;
}

.p1-streak {
  font-size: 28px;
  color: gold;
}

.gameStat {
  margin-bottom: 8px;
}

.p1-streak:after {
  content: "x";
  color: #fff5;
  text-transform: lowercase;
}

.playerActions {
  display: flex;
}

.keyPressItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 32px;
}

.keyPreview {
  width: 50px;
  height: 50px;
  background: #fff3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.keyPreview.pressed {
  border: 3px solid #7b7b7b;
  transform: scale(0.98);
}

.keyCounter {
  margin-top: 8px;
}

.playerScore {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
}

#player1-score {
  font-size: 24px;
}

#playerHealthBarContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.playerHealthBar {
  width: 800px;
  height: 10px;
  background: #00ff004a;
  display: flex;
  justify-content: flex-end;
}

#player1-health {
  margin-bottom: 6px;
}

.playerHealthBarInner {
  transition: 0.3s;
  width: 100%;
  height: 10px;
  background: lime;
}

#powerupAlert {
  position: fixed;
  top: 45%;
  text-shadow: 0 0 BLACK;
  transition: 0.5s;
  opacity: 0.5;
  left: -250px;
}

.powerupTitle {
  font-size: 32px;
}

#powerupAlert.active {
  opacity: 1;
  left: 25px;
}

.miniPfp {
  width: 50px;
  height: 50px;
  border-radius: 16px;
}

.playerItemMin {
  display: flex;
  align-items: center;
}

.userNameMini {
  display: flex;
  align-items: center;
  align-content: center;
}

.playerBadge {
  padding: 4px 8px;
  border-radius: 8px;
}

.playerBadge.grandMaster {
  background: var(--mythical)
}

.playerBadge.fideMaster {
  background: var(--legendary)
}

#player-two.playerItemMin {
  flex-direction: row-reverse;
}

#player-two.miniPfp {
  margin-left: 8px;
}

#bottomBar.minUi {
  background: #0000;
  width: 99vw;
  padding: 12px;
}

.playerIconBadge {
  margin: 0 8px;
}

#player-one .playerBadge {
  margin-left: 8px;
}

.playerBadges {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#timeDisplay {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100vw;
  text-align: center;
  font-size: 24px;
}

#algorithmBar {
  background: #fff3;
  height: 25px;
  width: 90vw;
  bottom: 12px;
  left: 10px;
  position: absolute;
  border-radius: 4px;
  display: none;
}

.algrBar-p1,
.algrBar-p2 {
  height: 25px;
  display: flex;
  align-items: center;
}

.algrBar-p1 {
  border-radius: 4px 0 0 4px;
  background: #ff9191;
  width: 50%;
}

.algrBar-p2 {
  border-radius: 0 4px 4px 0;
  background: white;
  width: 50%;
  justify-content: flex-end;
}

.p1-adv,
.p2-adv {
  margin: 0 8px;
  color: black;
}

@keyframes gradient-border {

  0%,
  200% {
    background-position: 0 0;
  }

  99.999999999999999% {
    background-position: -130% 0;
  }
}

.userTitle {
  background-image: linear-gradient(45deg, #ff8c8c, #ff2828, #ff8c8c);
  animation: gradient-border 2s linear infinite;
  background-size: 400% 100%;
  color: transparent !important;
  -webkit-background-clip: text
}