* {
    font-family: 'Montserrat', sans-serif;
    color: white;
	user-select: none;
}

a {
    text-decoration: none;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fixed {
	position: fixed;
}

#screen {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #101010;
	z-index: -1;
}