* {
    font-family: 'Mark Pro', sans-serif;
    color: #ffffff;
    user-select: none;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #8f218d, #3f298b, #4a68bb, #239dd5);
    z-index: -5;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    width: 100vw;
    background: #0005;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#profileImg {
    border-radius: 50%;
    width: 50px;
}

.navIcons {
    font-family: 'Material Icons', 'Material Symbols Outlined', 'Material Icons Rounded', 'Material Icons Outlined', sans-serif;
}

#navItems {
    display: flex;
    flex-direction: row;
}

.navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navRight {
    margin-right: 30px;
}

.navItem {
    padding: 12px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    transition: .3s;
    cursor: pointer;
}

.navItem:hover {
    background: #fff5;
}

#timeDisplay {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 12px;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

#timeDisplay:hover {
    box-shadow: 0 0 0 3px white;
}

#window-mini {
    display: none;
    background: #202020;
    border-radius: 12px;
    position: fixed;
    width: calc(100vw - 20%);
    height: calc(100vh - 40%);
    left: calc(100vw - 90%);
    top: calc(100vh - 85%);
}

#window-top {
    background: #fff1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0 0;
}

.window-title {
    padding: 12px;
}

.exitWindow {
    padding: 12px;
    border-top-right-radius: 12px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exitWindow.full {
    border-radius: 0;
}

.exitWindow:hover {
    background: #f55555;
    color: white;
}

#window-content {
    padding: 12px;
}

#window-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202020;
    display: none;
}

#windowFull-top {
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 98.5vw;
    display: flex;
    background: #fff1;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#windowFull-content {
    text-align: left;
    position: absolute;
    top: calc(100vh - 90%);
    left: calc(100vw - 98%);
    padding: 12px;
    background: #fff1;
}

#applications {
    position: fixed;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app {
    display: flex;
    flex-direction: row;
}

#img {
    width: 100px;
    height: 100px;
    background: #333;
    border-radius: 4px;
    box-shadow: inset 0 0 0 5px #0002;
}

.app.small {
    margin-bottom: 12px;
}

#appTitle {
    padding: 8px;
}