/* Section 1: Basic Body Styling */

* {
    color: var(--text-pri);
    font-family: 'Quicksand', 'Poppins', sans-serif;
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}


/* Background Information */

#backgroundImageHolder {
    position: fixed;
    z-index: -1;
}

.backgroundImg {
    background: linear-gradient(45deg, var(--bg-g1), var(--bg-g2));
    position: fixed;
    width: 110vw;
    height: 110vh;
    top: -10px;
    left: -10px;
    border: 0;
    box-shadow: 0 0;
}


/* Date-Time Widget */

#welcome {
    height: 29px;
    display: flex;
    flex-direction: column;
    background: var(--background-pri);
    padding: 14px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-left: 8px solid var(--accent);
    width: 400px;
    justify-content: center;
}

.date-time {
    display: flex;
}

.time {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 2px solid #fff3;
}


/* Navigation Bar */

#navBar {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    width: 400px;
    justify-content: space-around;
    padding: 8px;
    background: var(--background-pri);
    border-radius: 4px;
}

.navItem {
    padding: 8px;
    border-radius: 4px;
    border-bottom: 5px solid #fff1;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navItem:hover {
    border-color: rgba(var(--accentrgba), 0.7);
    font-size: 21px;
}

.navItem.active {
    border-color: var(--accent);
    cursor: default;
    font-size: 21px;
}


/* Main Page Content */

#mainContent {
    background: var(--background-pri);
    border-radius: 4px;
    top: 100px;
    margin: 10px;
    padding: 12px;
}

#contentHolder {
    position: absolute;
    top: 90px;
    height: 600px;
    overflow-y: auto;
}

.title {
    font-size: 2.5em;
}

.title-subtitle {
    font-size: 1.5rem;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #fff4;
}

.content {
    line-height: 2;
}

.content-flex {
    padding: 8px;
    background: var(--news-bg);
    border-radius: 5px;
    display: flex;
    margin-top: 8px;
}

.imgFlex {
    margin: 14px;
}

.content-title {
    font-size: 24px;
}

#tooltip {
    opacity: 0;
    position: absolute;
    z-index: 10;
    background: var(--background-pri);
    padding: 8px 15px;
    border-radius: 4px;
    right: 45vw;
    bottom: 25px;
    transition: 300ms;
    text-align: center;
}

#tooltip.active {
    opacity: 1;
    bottom: 45px
}


/* Bottom Buttons */

.bottomItemHolder {
    position: absolute;
    display: flex;
    bottom: 12px;
    left: 12px;
    padding: 8px;
    border-radius: 4px;
}

.bottomItem {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    transition: .3s;
}

.bottomItem:hover {
    background: #ffffff12;
}


/* Window Styling */

.menuWindow {
    padding: 15px;
    background: var(--background-pri);
    width: calc(100vw - 35%);
    height: calc(100vh - 40%);
    position: fixed;
    left: 242px;
    top: 145px;
    border-radius: 3px;
    border-bottom: 8px solid var(--accent);
    transform: rotate(12deg) scale(0.8);
    transition: .3s;
    opacity: 0;
    z-index: -9;
}

.menuWindow.active {
    transform: rotate(0) scale(1);
    z-index: 9;
    opacity: 1;
}

.window-title {
    font-size: 32px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid;
}

.section-title {
    padding: 6px;
    border-bottom: 1px solid #ffffff11;
    margin: 8px;
}

.hide {
    display: none!important;
}

.close {
    bottom: -50px;
    left: 450px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.close:hover {
    color: #f55;
}

.button {
    display: flex;
    background: #fff4;
    padding: 12px;
    border-radius: 5px;
    border: 0;
    transition: .3s;
    cursor: pointer;
    width: 180px;
    margin: 8px;
    align-items: center;
}

.button:hover {
    background: #fff5;
}

.button.active {
    border-left: 5px solid var(--accent)
}

.buttonText {
    margin-left: 10px;
}

.exitIcon {
    color: #f55;
}

.nothing {
    user-select: none;
    cursor: default;
    opacity: 0.5;
}

.nothing:hover {
    background: #fff4;
}


/* Themes Window */

#themes {
    left: 60px;
}

.themeIcon {
    font-size: 15px;
    margin-right: 10px;
}

.theme {
    border-bottom: 1px solid var(--bdr-clr);
    padding: 10px;
}

.themeIcon.active {
    color: #79ffb1;
}

.themeIcon.locked {
    color: #777;
}

.themeContainer {
    overflow-y: auto;
    height: 320px;
    scroll-behavior: smooth;
}

.theme-name {
    text-transform: uppercase;
    font-size: 23px;
    transition: .3s;
    display: flex;
    align-items: center;
}

.theme-name:hover {
    padding-left: 8px;
    cursor: pointer;
}

.theme-name.locked:hover {
    padding: 0;
    cursor: default;
}


/* Settings Window */

.settingsNav-100 {
    display: flex;
    justify-content: center;
}

.settingsNav-200 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    width: 200px;
    height: 440px;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.settingsContainer {
    display: flex;
}

.settingsContent {
    width: 740px;
    border: 1px solid #fff2;
    border-radius: 4px;
    display: flex;
    align-content: center;
    padding: 8px;
}


/* 1: Profile */

.profileImg {
    width: 180px;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px solid var(--accent);
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.settingsContent.profile {
    justify-content: center;
}

.userName {
    display: flex;
    font-size: 32px;
    align-items: center;
}

.discriminator {
    font-size: 16px;
    color: #fff5;
}

.logout {
    padding: 5px 15px;
    background: #0000;
    border: 0;
    border-bottom: 3px solid var(--accent);
    transition: .3s;
    margin-top: 10px;
}

.logout:hover {
    border-bottom: 4px solid var(--accent);
    background: #fff2;
    cursor: pointer;
}


/* 2: General Settings */

#generalSettings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settingsItem {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}


/* From w3 */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
    height: 25px;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.slider.round {
    border-radius: 34px;
}