* {
    user-select: none;
    font-family: 'Noto Sans', sans-serif;
}

body {
    text-align: center;
}

:root {
    --background: #3c3c3c;
    --white: #fff;
    --black: #494949;
    --accent: #626a7b;
    --im: #ff9e36;
}

.white-1e1d7 {
    background: var(--white);
    color: var(--black);
}

.black-3c85d {
    background: var(--black);
    color: var(--white);
}

#backgroundImage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--background);
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    display: flex;
    background: #0004;
    margin: 8px;
    border-radius: 12px;
    flex-direction: column;
}

.button {
    padding: 10px;
    border-radius: 8px;
    background: var(--accent);
    margin-right: 8px;
    transition: .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
}

.button:hover {
    box-shadow: 0 0 0 2px white;
    ;
}

.button:last-of-type {
    margin-right: 0;
}

#top {
    display: flex;
    flex-direction: row;
}

.optionFlex {
    margin: 8px;
}

.colorInput {
    background: #0000;
    border: 0;
}

.colorInput::-webkit-color-swatch {
    border: 0;
    border-radius: 12px;
}

.highlight-white {
    box-shadow: 0 0 0 5px #00a2ff;
}

.highlight-black {
    box-shadow: 0 0 0 5px red;
}

#gameContainer {
    padding: 12px;
    display: flex;
    position: fixed;
    top: calc(100vh - 70%);
    border-radius: 4px;
}

#game {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    align-items: center;
}

#gameLeft {
    background: #0004;
    padding: 12px;
    border-radius: 4px;
    width: 280px;
    display: flex;
}

.user {
    display: flex;
    flex-direction: row;
}

.userName {
    display: flex;
    margin: 8px;
}

.user-elo {
    margin: 8px;
    margin-left: 0;
}

.user-title {
    margin: 0 8px;
    color: var(--im);
}

.user-elo:before {
    content: '(';
}

.user-elo:after {
    content: ')';
}

#gameHolder {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}