@font-face {
    font-family: 'Web';
    src: url('./fonts/a-300.ttf');
}

@font-face {
    font-family: 'Web Bold';
    src: url('./fonts/a-400.ttf');
}

:root {
    --text: #fff;
    --empty: #000;
    --home: #202020;
    --about: #1e2024;
    --timeline: #505050;
    --main: 'Montserrat';
    --sec: 'Poppins';
    --main-wght: 300;
    --accent-pri: #87ceeb;
    --accent-sec: #4682b4;
    --accent-ter: #8A2BE2;
    --accent-qua: #4B0082;
}

html {
    scroll-behavior: smooth;
}

* {
    user-select: none;
    font-family: var(--sec), sans-serif;
    font-weight: var(--main-wght);
    color: #fff;
}

body {
    margin: 0;
    background: var(--empty);
}

a {
    text-decoration: none;
    color: inherit;
}

#navBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #00000075;
    transition: .5s;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 999999;
    backdrop-filter: blur(2px);
    justify-content: space-between;
}

#navBar.navBar-transparent {
    background: #0000;
}

#navBar:hover {
    background: #00000075;
    padding-top: 1%;
    padding-bottom: 1%;
}

#navBar.hidden {
    transition: .3s;
    top: -55px;
}

#navBar:after {
    content: ' ';
    width: 0%;
    background: linear-gradient(90deg, var(--accent-sec), var(--accent-pri));
    height: 5px;
    position: absolute;
    bottom: -5px;
    transition: .5s;
}


#navBar:hover:after {
    width: 100%;
}

#miniIcon {
    width: 30px;
}

.navRight {
    display: flex;
    flex-direction: row;
    margin-right: 12px;
    align-items: center;
}

.navDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
}

.navIcon {
    display: flex;
    align-items: center;
    padding: 6px;
    transition: .3s;
    cursor: pointer;
    margin: 8px;
}

.navIcon:hover {
    background: #fff2;
    box-shadow: 0 0 0 2.5px var(--accent-pri);
}

.navIcon:active {
    background: #fff2;
    box-shadow: 0 0 0 2.5px white;
}

.navItem {
    padding: 8px;
    margin: 8px;
    transition: .3s;
    cursor: pointer;
}

#navBar:hover .navItem .displayTitle:not(.displayTitle:hover) {
    opacity: .5;
}

.displayTitle:hover, .displayTitle.active {
    opacity: 1
}

.displayTitle {
    transition: .3s;
    color: white;
    opacity: .3;
}

.navTitle {
    font-size: 24px;
}

.langSwitch {
    padding: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.langSwitch:hover {
    background: #fff3;
}

.navContainer {
    padding: 12px;
    margin: 8px;
    margin-left: 0;
    background: #fff3;
}

.section {
    height: 100vh;
    transition: .5s;
}

.section.transparent {
    filter: blur(15px)
}

#settingsWindow {
    position: fixed;
    top: 1000px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    transition: .3s;
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}

#settingsWindow.active {
    opacity: 1;
    top: 0;
}

#settings-title {
    font-size: 32px;
    font-weight: 200;
}

#devCodeContainer {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#devCode {
    background: #fff1;
    border: 0;
    padding: 8px;
    outline: 0;
    text-align: right;
    font-family: 'Roboto Mono', monospace;
}

#home {
    background: var(--home);
    display: flex;
    align-items: center;
    justify-content: center;
}

#titleHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title {
    font-size: 48px;
}

.subtitle {
    text-align: center;
}

.settings-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    font-family: 'Roboto Mono';
    cursor: pointer;
    transition: .3s;
    margin: 8px;
}

.settings-button:hover {
    background: #fff;
    color: black;
}

.settings-button:hover>.button-icon {
    color: black;
}

.button-icon.material-icons {
    margin-right: 8px;
    transition: .3s;
}

#mainQuote {
    font-size: 16px;
    color: var(--accent-pri);
}

#quoteVerse {
    color: var(--accent-sec);
    transition: .3s;
    cursor: pointer;
}

#quoteVerse:hover {
    color: #57a2df;
}

#bottomTerms {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings-icon {
    padding: 8px;
    margin-bottom: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.settings-icon:hover {
    box-shadow: inset 0 0 0 2px #fff2;
    background: #fff1;
}

.terms-item {
    padding: 12px;
    margin: 8px 0;
    color: #fff5;
    transition: .5s;
    box-shadow: inset 0 -5px #0000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.terms-item:hover {
    color: #fff;
}

.terms-item:after {
    content: ' ';
    width: 0%;
    margin-top: 8px;
    height: 2.5px;
    background: #0000;
    transition: .3s;
}

.terms-item:hover:after {
    width: 100%;
    background: var(--accent-pri);
}

.version.terms-item {
    color: #57a2df;
    font-weight: 500;
}

#about {
    background: var(--about);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
}

#news {
    background: var(--timeline);
    display: flex;
    justify-content: center;
}

#langWindow {
    position: fixed;
    top: 1420px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

#langWindow.active {
    top: 0;
}

.langInner {
    padding: 24px;
    background: #0008;
    width: calc(100vw - 50%);
    height: calc(100vh - 50%);
    border-radius: 8px;
    backdrop-filter: blur(3px);
}

.lang-title {
    padding: 8px;
    font-size: 32px;
    font-weight: bold;
}

.lang-item {
    padding: 8px;
    opacity: .5;
    transition: .3s;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
}

.lang-item.selected {
    opacity: 1;
    background: #fff6;
    cursor: default;
}

.lang-item:hover:not(.lang-item.selected) {
    opacity: 1;
    background: #fff;
    color: black;
}