body {
    background: var(--main-bg)
}

.title {
    font-size: 64px;
}

.section-404 {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background: var(--main-bg);
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.homeLink {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: .3s;
    padding: 12px;
}

.homeLink:hover {
    box-shadow: 0 0 0 2px var(--accent-dark);
}

#bottomThing {
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 12px;
    transition: .3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#bottomThing:hover {
    background: var(--change-theme-bg);
}