* {
    color: white;
    font-family: 'Quicksand';
    user-select: none;
}

body {
    background: #202020;
}

a {
    color: inherit;
    text-decoration: none;
}

#navBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background: #fff3;
}

.windowHolder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.windowHolder.nofocus {
    width: 90vw;
    left: -125px;
}

#logWindow {
    background: black;
    width: calc(100vw - 35%);
    height: calc(100vh - 15%);
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.logWindow-top {
    background: #fff3;
    padding: 12px;
    border-radius: 4px 4px 0 0;
}

.logWindow-history {
    padding: 12px;
    height: 80%;
    overflow-y: auto;
}

.logWindow-item {
    background: #fff2;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
}

.logWindow-item:last-of-type {
    margin-bottom: 0;
}

.logWindow-item.server {
    color: #fa00ff;
}

.logWindow-item.user {
    justify-content: space-between;
    flex-direction: row;
}

#log-left {
    display: flex;
}

.logWindow-input {
    background: #fff1;
    padding: 12px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logInput-input {
    width: 95%;
    background: #fff2;
    border: 0;
    outline: 0;
    padding: 12px;
    border-radius: 4px;
    transition: .3s;
}

.logInput-post {
    background: #fff3;
    outline: 0;
    border: 0;
    padding: 8px;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.logInput-input:hover,
.logInput-input:focus-within {
    background: #fff3;
}

.logInput-post:hover {
    background: #fff4;
}

.logWindow-item.game,
.logWindow-item.user {
    display: flex;
}

.logItem-name {
    margin-right: 8px;
}

.logItem-name:before {
    content: '[';
}

.logItem-name:after {
    content: ']';
}

.logItem-value {
    display: flex;
}

.damageVal {
    margin: 0 4px;
}

#stats {
    position: fixed;
    top: 6px;
    left: 12px;
    display: flex;
}

#vt-S {
    background: #fff5;
    margin: 0 8px;
    height: 20px;
    width: 2px;
    border-radius: 4px;
    display: inline;
}

#userLevel {
    margin-right: 4px;
}

#timestamp {
    color: #fff6;
    opacity: 0;
    transition: .1s
}

#timestamp.active {
    opacity: 1;
}

#userProfile {
    display: flex;
}

.upperLevel {
    margin-right: 4px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    transition: .3s;
    cursor: pointer;
    margin-right: 12px;
}

.menuItemIcon {
    margin-right: 8px;
    font-size: 14px !important
}

.menuItem:hover {
    box-shadow: 0 2px #fff5;
}

#customizeWindow {
    position: fixed;
    top: calc(100vh - 95%);
    right: 20px;
    height: calc(100vh - 15%);
    width: 25%;
    background: #000000;
    border-radius: 4px;
}

.customize-title {
    padding: 12px;
    border-radius: 4px 4px 0 0;
    background: #fff3;
}

#customizeItems {
    padding: 12px;
}

.customizeItem {
    padding: 8px;
    margin-top: 8px;
    background: #fff2;
    border-radius: 4px;
    display: flex;
    transition: .3s;
    cursor: pointer;
}

.customizeItem:hover {
    background: #fff3;
}

.customizeItem.item-100,
.customizeItem.item-200,
.customizeItem.item-300 {
    color: #797c8f;
}

.customizeIcon {
    margin-right: 8px;
}