:root {
    --text-primary: #fff;
    --bg-primary: #2b2222;
    --bg-secondary: #3a2e2e;
    --accent-primary: #7a4f38;
    --accent-primary-light: #a86c4b;
    --text-primary: #f5deb3;
    --text-primary-light: #f8ebd4;
    --text-primary-dark: #847862;
    --white: #fff;
    --black: #000;
}

* {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-primary)
}

a {
    color: unset;
    text-decoration: none;
}

.abs {
    position: absolute
}

.fixed {
    position: fixed
}

.full {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh
}

.flex {
    display: flex
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center
}

.ms300 {
    transition: 300ms
}

.ms500 {
    transition: 500ms
}

.ms1000 {
    transition: 1000ms
}

#background {
    background: var(--bg-primary);
    z-index: -1
}

#center {
    display: flex;
    justify-content: center;
    align-items: center
}

#mid {
    font-size: 7.5em;
    margin: 5rem;
    align-items: center
}

#footer {
    bottom: 1.5em;
    left: 0;
    width: 100%;
}

.cen {
    width: 250px;
    justify-content: center;
}

#separator {
    width: 10px;
    height: 1px;
    background: #ffffff6e;
    margin: 0 12px
}

#right .link {
    color: #fff5;
    transition: 300ms
}

#right .link:hover {
    color:var(--white);
    cursor: pointer
}

#right .link:not(:nth-of-type(2)):after {
    color: var(--white);
    content: '/';
    opacity: 0.2;
    margin: 0 8px
}

#nav {
    padding: 12px;
    background: var(--bg-secondary);
    box-shadow: 0 10px var(--accent-primary);
    width: 100vw;
    height: 96.5%;
    left: 0;
    transition: 500ms ease;
    z-index: 2;
}

.window {
    opacity: 0;
    top: -100vw;
}

.window.open {
    opacity: 1;
    top: 0;
}

.head {
    font-weight: bold;
}

#nav .head {
    font-size: 3em;
    margin: 0.5em;
    margin-left: 20px;
}

.name {
    font-weight: bold;
    font-size: 1.8em;
    transition: 300ms;
}

.name:hover {
    margin-left: 10px;
    color: var(--text-primary-light) !important
}

.s-link:not(:last-of-type) {
    margin-bottom: 10px;
}

.s-link:hover {
    cursor: pointer;
}

.name + .material-icons {
    font-size: 1.1em;
    margin: 5px 0 0 5px;
    color: var(--accent-primary) !important
}

#foot {
    bottom: 10px;
    font-size: 0.75em;
}

.linkSection {
    padding: 12px;
    width: 35%;
    margin-left: 20px;
    background: #0000001c;
    box-shadow: -5px 5px var(--accent-primary);
}

#info {
    cursor: pointer;
}

#info:hover {
    transform: scale(1.25)
}

#close {
    cursor: pointer;
}

#close:hover {
    color: var(--text-primary-light);
}

.s-link:before {
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text-primary-dark);
    margin: 0 10px;
    margin-top: 5px;
    cursor: default;
}

#tooltip {
    padding: 12px;
    background: var(--black);
    bottom: 1em;
    font-size: 1.25em;
    width: 30%;
    left: -100vw;
    opacity: 0;
}

#tooltip.open {
    left: 12px;
    opacity: 1;
}