:root {
    --text-primary: #fff;
    --bg-primary: #050505;
}

* {
    user-select: none;
    font-family: 'Omori Sans', sans-serif;
    color: var(--text-primary);
}

.abs {
    position: absolute
}

.fixed {
    position: fixed
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#background {
    background: var(--bg-primary);
    z-index: -1;
}

.navItem {
    font-size: 26px;
    margin: 0 12px;
    padding: 6px 12px;
    cursor: pointer;
    transition: .2s;
}

#settingsIcon {
    margin: 0 12px;
    padding: 12px;
    cursor: pointer;
    transition: .3s;
}

.navItem:hover, #settingsIcon:hover {
    box-shadow: 0 0 0 2.5px white;
}

#mainNav {
    box-shadow: 0 0 0 5px white;
    top: 32px;
    left: 32px;
    padding: 12px;
    transform: skewX(18deg);
}