:root {
    --text-primary: #fff;
    --bg-primary: #202020;
}

* {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-primary);
}

.abs {
    position: absolute
}

.fixed {
    position: fixed
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#background {
    background: var(--bg-primary);
    z-index: -1;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid {
    font-size: 7.5em;
    margin: 5rem;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#separator {
    width: 10px;
    height: 1px;
    background: #ffffff6e;
    margin: 0 12px;
}