:root {
    --accent: #6d7fb2;
    --accent-light: #61aaff;
    --accent-dark: #3d4c76d4;
    --main-bg: #0e0e0e;
    --client-bg: #05080f;
    --text-pri: #fff;
    --text-sec: #ffffff95;
    --change-theme-bg: #fff3;
}